{% extends "base.html" %} {% block title %}Add User Info{% endblock %} {% block
content %}
<form method="POST">
  <h2 align="center">Add User Info</h2>
  <hr />
  <div class="row" style="position: relative">
    <div class="col-sm-5 form-group">
      <label for="latitude"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-geo-fill"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"
          ></path>
        </svg>
        &#8194;Latitude</label
      >
      <input
        type="text"
        class="form-control"
        id="latitude"
        name="latitude"
        value="{{ user_info.latitude }}"
      />
    </div>
    <div class="col-sm-5 form-group">
      <label for="longitude"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-geo"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"
          ></path>
        </svg>
        &#8194;Longitude</label
      >
      <input
        type="text"
        class="form-control"
        id="longitude"
        name="longitude"
        value="{{ user_info.longitude }}"
      />
    </div>
    <div
      class="col-sm-1 form-group"
      style="bottom: 0; position: absolute; right: 6%"
    >
      <a href="/config/input/latlng" class="btn btn-default" role="button"
        >Take
        <img
          src="{{ url_for('static', filename='rpi.png') }}"
          width="20px"
          height="20px"
        />
        Location</a
      >
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4 form-group">
      <label for="roof_size">
        <img
          src="{{ url_for('static', filename='roof_size.png') }}"
          width="20px"
          height="20px"
        />
        &#8194;Roof Size (m²)</label
      >
      <input
        type="text"
        class="form-control"
        id="roof_size"
        name="roof_size"
        value="{{ user_info.roof_size }}"
      />
      <!--placeholder="Enter roof size in m²"-->
    </div>
    <div class="col-sm-4 form-group">
      <label for="tank_volume">
        <img
          src="{{ url_for('static', filename='tank_volume.png') }}"
          width="14px"
          height="14px"
        />
        &#8194;Tank Volume (m³)</label
      >
      <input
        type="text"
        class="form-control"
        id="tank_volume"
        name="tank_volume"
        value="{{ user_info.tank_volume }}"
      />
      <!--placeholder="Enter tank volume in m³"-->
    </div>
    <div class="col-sm-4 form-group">
      <label for="garden_size">
        <img
          src="{{ url_for('static', filename='garden_size.png') }}"
          width="16px"
          height="16px"
        />
        &#8194;Garden Size (m²)</label
      >
      <input
        type="text"
        class="form-control"
        id="garden_size"
        name="garden_size"
        value="{{ user_info.garden_size }}"
      />
    </div>
  </div>
  <br />
  <div class="row text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
