{% extends "base.html" %} {% block title %}Air Quality Solution{% endblock %} {%
block head %}<meta http-equiv="refresh" content="20" />{% endblock %} {% block
content %}
<div class="row">
  <div class="col text-center">
    <h2>Air Quality Solution</h2>
  </div>
</div>
<hr />
{% if air_quality_data %}
<div id="air_quality_data">
  <div class="row">
    <div id="temperature" class="col-sm-4 text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-thermometer-half"
        viewBox="0 0 16 16"
      >
        <path
          d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z"
        />
        <path
          d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"
        />
      </svg>
      &#8194;Temperature: {{ air_quality_data.temp }}°C
    </div>
    <div id="temperature" class="col-sm-4 text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-droplet"
        viewBox="0 0 16 16"
      >
        <path
          fill-rule="evenodd"
          d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"
        />
        <path
          fill-rule="evenodd"
          d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"
        />
      </svg>
      &#8194;Humidity: {{ air_quality_data.hum }}%
    </div>
    <div id="temperature" class="col-sm-4 text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-wind"
        viewBox="0 0 16 16"
      >
        <path
          d="M12.5 2A2.5 2.5 0 0 0 10 4.5a.5.5 0 0 1-1 0A3.5 3.5 0 1 1 12.5 8H.5a.5.5 0 0 1 0-1h12a2.5 2.5 0 0 0 0-5zm-7 1a1 1 0 0 0-1 1 .5.5 0 0 1-1 0 2 2 0 1 1 2 2h-5a.5.5 0 0 1 0-1h5a1 1 0 0 0 0-2zM0 9.5A.5.5 0 0 1 .5 9h10.042a3 3 0 1 1-3 3 .5.5 0 0 1 1 0 2 2 0 1 0 2-2H.5a.5.5 0 0 1-.5-.5z"
        />
      </svg>
      &#8194;Gas Level: {{ air_quality_data.gas }}
    </div>
  </div>
</div>
{% endif %}
<hr />
<div class="row text-center">
  <div class="col">
    <b>Optimal Ventilation Times</b>
  </div>
  <br />
  <div class="row" id="optimal_times">
    <div class="col-sm-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-clock"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
        />
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
        />
      </svg>
      &#8194;{{ optimal_times.first_slot }}
    </div>
    <div class="col-sm-4">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-clock"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
        />
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
        />
      </svg>
      &#8194;{{ optimal_times.second_slot }}
    </div>
    <div class="col-sm-4">
      {% if optimal_times.third_slot != '' %}
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-clock"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
        />
        <path
          d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"
        />
      </svg>
      {{ optimal_times.third_slot }} {% endif %}
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col text-center">
    <a
      href="https://corlysis.com/grafana/dashboard/snapshot/3kjR9uKrEnKwtY93QYLE9MFMwqBz86gm"
      class="btn btn-default"
      role="button"
      target="_blank"
      ><img
        src="https://cdn.icon-icons.com/icons2/2699/PNG/512/grafana_logo_icon_171048.png"
        width="25"
        height="25"
      />
      Dashboard
    </a>
  </div>
</div>
{% endblock %}
