{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="row">
  <div class="col text-center">
    <h2>Heat Solution</h2>
  </div>
</div>
{% if air_quality_data %}
<div class="list-group list-group-flush" id="air_quality_data">
  <div id="temperature" class="panel panel-default">
    <div class="panel-body">
      <p>Current Temperature: {{ air_quality_data.temp }}</p>
    </div>
  </div>
  <div id="temperature" class="panel panel-default">
    <div class="panel-body">
      <p>Current Humidity: {{ air_quality_data.hum }}</p>
    </div>
  </div>
  <div id="temperature" class="panel panel-default">
    <div class="panel-body">
      <p>Current Gas Level: {{ air_quality_data.gas }}</p>
    </div>
  </div>
</div>
{% endif %}
<div class="row">
  <div class="col text-center">
    <a
      href="https://corlysis.com/grafana/dashboard/snapshot/p3I3Rd1m2Oy1CRzmdAzIyx5vzdyGIiIi"
      class="btn"
      role="button"
      target="_blank"
      ><img
        src="https://cdn.icon-icons.com/icons2/2699/PNG/512/grafana_logo_icon_171048.png"
        width="25"
        height="25"
      />
      Dashboard
    </a>
  </div>
</div>
{% endblock %}
