{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="row">
  <div class="col text-center">
    <h2>EFFI Solutions</h2>
  </div>
</div>
<hr />
<div class="row">
  <div class="col">Welcome to EFFI's Homepage.</div>
</div>
<hr />
{% if not vars.started %}
<div class="row">
  <div class="col text-center">
    <a href="/start" class="btn btn-default" role="button">Start Application</a>
  </div>
</div>
{% endif %} {% if vars.started %}
<div class="row">
  <div class="col text-center">
    <a href="/stop" class="btn btn-default" role="button">Stop Application</a>
  </div>
</div>
{% endif %} {% endblock %}
